@font-face {
	font-family: Charlemagnestd;
	src: url('/charlemagnestd-bold.otf');
}

body {
	text-align: center;
	margin: 0 auto;
	width: 960px;
	color: #afdaea;
	border: 0px solid black;
	font-size: 16px;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	background: #142431 url('images/bg.jpg') no-repeat left top fixed;
	background-size: cover;
	/*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);*/
}

.logo {
	display: block;
	position: fixed;
	top: 5px;
	left: 0px;
}
@media screen and (max-width: 1250px) {
	.logo {
		display: none;
	}
}

.rounded {
	border-radius: 15px;
}

.segment {
	background: rgba(72,73,86,0.8);
	border-radius: 15px;
	padding: 18px;
	margin: 20px auto;
	box-shadow: inset 0 0 2px 2px rgba(105,110,185,0.6),
	inset 0 0 10px 5px rgba(105,110,185,0.4),
	0 0 20px 4px rgba(0,0,0,0.6);
}

.center {
	margin-left: auto!important;
	margin-right: auto!important;
	text-align: center!important;
}

.title {
	font-size: 24px;
	font-family: Charlemagnestd;
}

#wrapper {
	text-align: left;
	margin: 0 auto;
	width: 910px;
}

h1 {
	font-size: 32px;
	font-family: Charlemagnestd;
}

h2 {
	font-size: 24px;
	font-family: Charlemagnestd;
}

hr {
	background-color: #afdaea;
	color: #afdaea;
	height: 1px;
	border: 0px;
}

a:link {text-decoration: none; color: #93cfe2;}
a:visited {text-decoration: none; color: #93cfe2;}
a:active {text-decoration: none; color: #93cfe2;}
a:hover {text-decoration: none; color: white;}

#sponsors { margin-bottom: -25px; }

.footer img { padding: 0 8px; }
